#event-page-container p,h3,h4,h5 {
  margin: 0;
  padding: 0;
}


.event-poster-head {
  width: 100%;
}

.ticket-bar {
  text-align: center;
  background: #A5D6A7;
  border: solid 2px black;
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.5em 0;
  line-height: 1.5em;
}

.ticket-bar p {
  margin: 0;
}



.event-info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em 1em 3em;
  font-size: 1.3em;
  border: solid 1px black;
}

.event-info-bar .event-name {
  font-size: 1.5em;
}

.event-info-icons {
  display: flex;
  justify-content: space-between;
}

.event-info-icons a {
  display: block;
  padding: 0.5em;
}

section.description {
  white-space: pre-wrap;
}




@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 992px) {

}