.page-centering {
  max-width: 960px;
  margin: 0 auto;
}

.mobile-padder {
  padding: 0 1.5rem 2rem;
}

.warning-text {
  font-size: 1.5rem;
  color: red;
}

.settings-header {
  text-align: center;
  padding: 2rem 0 0 0;
  margin-bottom: 0
}

.settings-content-container {
  /* max-width: 690px; */
  /* margin: auto; */
}

.activeSetting {
  background: purple;
}

.activeSetting a {
  color: white;
}

nav.settings-nav {
  display: flex;
  justify-content: center;
  background: #eeeeee;
  padding: 0.5rem 0;
  margin-bottom: 3rem;
}

nav.settings-nav li {
  padding: 0.2rem;
  text-align: center;
}

.section-header {
  text-align: center;
  margin: 1rem 0;
}

.profile-photo-container {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #eeeeee;
  border-radius: 10px;
}

.dotted-container {
  border: dashed 3px lightblue;
  padding: 2rem;
  height: 90%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #757575;
  font-size: 1.2rem;
}

.dotted-container:hover {
  border-color: steelblue;
}

.settings-info-container {
  padding: 0 1.5rem;
  margin: 2rem auto;
  /* width: 90%; */
}

.info-save-btn {
  display: block;
  width: 150px;
  margin: 0 auto;
}

/* close account */
.confirm-close-container {
  margin-top: 3rem;
}

.confirm-close-container .close-input-container {
  display: flex;
  margin-bottom: 3rem;
}

.close-input-container p {
  margin-right: 2rem;
  width: 150px;
}
.close-input-container input {
  width: 40%;
}

@media screen and (min-width: 1024px) {

  .profile-settings-container>section {
    margin-left: 1rem;
  }

  .profile-settings-container>.left-aligned {
    margin-left: 5rem;
    margin-bottom: 200px;
    width: 50%;
  }

  .profile-settings-container {
    display: flex;
  }

  .settings-header {
    text-align: left;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  .settings-section-header {
    padding: 1rem;
    text-align: center;
  }
  .settings-section-header-left{
    text-align: left;
  }

  nav.settings-nav {
    width: 150px;
    margin-bottom: 0;
  }

  section.info-section {
    width: 768px;
  }

  .settings-info-container {
    width: 100%;
  }

  nav.settings-nav li {
    padding: 0.5rem 1rem;
  }
}
