<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Browse events</title>
  </head>
  <body>
    <div class="container row">
      <h1 class="col-md-6 col-md-offset-5 page-header">Browse events</h1>
      <div class="col-md-3" ng-repeat="event in events track by $index">
        Event name: {{event.title}} <br/>
          <img width=200 height=200 ng-src={{event.imgPath}}> <br/>
          type: {{event.type}} <br/>
          desctiption: {{event.description}} <br/>
          location: {{event.location.locationName}} <br/>
          At lat: {{event.location.latlng.lat}} and longitude: {{event.location.latlng.lng}} <br/>
          <a href={{event.location.locationMapUrl}}>See it on the map</a> <br/>
          From {{event.startTime}} until {{event.endTime}} <br/>
          <button class="btn btn-success" >Get ticks</button>
        <!-- <div class="col-md-4">Event name: {{event.title}}
        </div>
        <div class="col-md-4">type: {{event.type}}

        </div>
        <button class="btn btn-success" >Get ticks</button> -->
      </div>
    </div>
  </body>
</html>
