<section id="createorganizer" >
  <form enctype="multipart/form-data" name="upload_form">
     <div class="container" style="max-width:40%">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h1 style="margin-top:50px">Create Organizer profile</h1>


          <div class="form-group">
            <label class="control-label" for="source_name">Organizer Name</label>
            <div>
              <input id="source_name" class="form-control" name="source_name" ng-model="oName" type="text" placeholder="Organizer name" class="form-control input-md">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="source_name">About You</label>
            <div>
              <textarea id="source_name" class="form-control" name="source_name" ng-model="oDesc" placeholder="This is who we are. This is what we do" class="form-control input-md"></textarea>
            </div>
          </div>
           <div class="form-group">
             <label class="control-label" for="source_name">Image</label>
             <div>
               <input id="fileItem" type="file" name="eventPic" ng-model="file"
               ngf-pattern="'image/*'"
               accept="image/*"
               ngf-max-size="20MB" >
             </div>
           </div>
           <div class="form-group">

            <button type="submit" ng-click="preview()" class="hvr-bounce-to-right" id="mybutton" style="margin: 10px; font-size:20px;padding: 6px 0px; width:22%;background-color:transparent;color:black"> Preview</button>
             <div id="preview">
             </div>
           </div>
           <br /><!--input -->
           <div class="page-header"><h1>Social Media</h1></div>
           <div class="form-group">
             <label class="control-label" for="source_name">Website</label>
             <div>
               <input id="source_name" class="form-control" name="source_name" ng-model="oSite" type="text" placeholder="Danksite.com" class="form-control input-md">
             </div>
           </div>
           <div class="form-group">
             <label class="control-label" for="source_name">Facebook:</label>
             <div>
               <input id="source_name" class="form-control" name="source_name" ng-model="oFace" type="text" placeholder="face@fb.com" class="form-control input-md">
             </div>
           </div>
           <div class="form-group">
             <label class="control-label" for="source_name">Instagram:</label>
             <div>
               <input id="source_name" class="form-control" name="source_name" ng-model="oInst" type="text" placeholder="insta" class="form-control input-md">
             </div>
           </div>
           <div class="form-group">
             <label class="control-label" for="source_name">Twitter:</label>
             <div>
               <input id="source_name" class="form-control" name="source_name" ng-model="oTwitt" type="text" placeholder="tweet" class="form-control input-md">
             </div>
           </div>
               <button type="submit" ng-click="reset()" class="hvr-bounce-to-right" id="mybutton" style="margin: 10px; font-size:20px;padding: 6px 0px; width:22%;background-color:transparent;color:black"> Reset</button>
               <button type="submit" ng-click="upload()" class="hvr-bounce-to-right" id="mybutton" style="margin: 10px; font-size:20px;padding: 6px 0px; width:33%;background-color:black;color:white"> Save Profile</button>
          <div class="row show-hide-message" ng-show="showRedirect">
            <div class="alert alert-success">Created organizer profile! redirecting..<span class="glyphicon glyphicon-repeat fast-right-spinner"></span></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
