<section id="createevent" >
  <form enctype="multipart/form-data" name="upload_form">
    
          <div class="container" style="max-width:40%">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h1 style="margin-top:50px">Create Your Event</h1>
          </div>
          <div class="form-group">
            <label class="control-label" for="source_name"><h2>Organizer: </h2> </label>
			<p>Selected organizer: {{selectedOrganizer}}</p>
            <div>
              <select ng-model="selectedOrganizer"  ng-options="profile._id as profile.name for profile in profiles" class="form-control input-md" ng-change="selectProf()">
				<!--<option>Select your organiza</option>
                <option ng-repeat="organizer in profiles track by $index" value="{{organizer._id}}">{{organizer.name}}</option>-->
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="source_name"><h2>Title</h2</label>
            <br>
            <br>
            <div>
              <input id="source_name" class="form-control input-md" name="source_name" ng-model="eName" type="text" placeholder="Fancy Feast">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="source_name"><h3>Event Type</h3></label>
            <div>
              <p>selected item is : {{selectedType}}</p>
        <select ng-model="selectedType" class="form-control input-md">
          <option ng-repeat="type in typeOptions" value="{{type}}">{{type}}</option>
        </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="source_name">Starts: </label>
            <div>
              <input  id="create_start_date_picker" class="col-md-5 input-md" required>

              <select ng-change="updateEndHr()" ng-model="startHr" class="col-md-5 input-md col-md-offset-2" required>
                <option ng-repeat="hour in startHrCalender track by $index" value="{{hour}}">{{hour}}</option>
              </select>
            </div>
          </div>
          <br/>
          <div class="form-group">
            <label class="control-label" for="source_name">Ends:</label>
            <div>
            <input id="create_end_date_picker" class="col-md-5 input-md" required>

            <select ng-model="endHr" class="col-md-5 input-md col-md-offset-2" required>
              <option ng-repeat="hour in endHrCalender track by $index" value="{{hour}}">{{hour}}</option>
            </select>
            </div>
          </div>
          <br/>
          <!-- <button class="btn btn-submit" ng-click="compareDates()">Check dates</button> -->
          <div class="form-group">
            <label class="control-label" for="source_name"><h1>Description</h1></label>
            <div>
              <textarea id="source_name" class="form-control" name="source_name" ng-model="eDesc" placeholder="Its the coolest show" class="form-control input-md"></textarea>
            </div>
          </div>
           <div class="form-group">
             <label class="control-label" for="source_name"><h3>Image</h3></label>
             <div>
               <input id="fileItem" type="file" name="eventPic" ng-model="file"
               ngf-pattern="'image/*'"
               accept="image/*"
               ngf-max-size="20MB" >
             </div>
           </div>
           <div class="form-group">
            

            <button type="submit" ng-click="preview()" class="hvr-bounce-to-right my-btn" style="margin: 10px; font-size:20px;padding: 6px 0px; width:22%;background-color:transparent;color:black"> Preview</button>
             <div id="preview">
             </div>
           </div>
           <br /><!--input -->
           <div class="form-group">
             <label class="control-label" for="source_name"><h1>Event Location: </h1></label>
             <div>
              <p>Enter a location venue</p>
                <input id="autocomplete" type="text" autocomplete="off" placeholder="Enter venue">
             </div>
			 <div> 
			 <p>type a location: </p>
			 <div class="map-container">
			<h5>Event Map</h5>
			<a href={{location.locationMapUrl}} target="_blank">
		<img id="static-map-img" src={{imgSrc}} alt="">
		</a>
		</div>
			 <input type="text" placeholder="venue name" ng-model="location.venue_name">
			 <input type="text" placeholder="address2" ng-model="location.address2">
			 <input type="text" placeholder="city" ng-model="location.city">
			 <input type="text" placeholder="zip" ng-model="location.zip">
			 <input type="text" placeholder="country" ng-model="location.country">
			 </div>
           </div>
           <br /><!--input -->
           <div class="form-group">
             <label class="control-label" for="source_name">Is this a public event?</label>
             <div>
               <input type="radio" ng-model="isPrivate" value="false"> Public
               <input type="radio" ng-model="isPrivate" value="true"> Private(invite only)
             </div>
             <!-- <button class="btn" ng-click="showPrivates()">show privates</button> -->
           </div>
           <br /><!--input -->
           <div class="page-header"><h2>Event Tickets</h2></div>
           <div class="form-group">
             <label class="control-label" for="source_name">Choose a ticket type:</label>
             <div>
              <button type="submit" ng-click="add('Free')"class="hvr-bounce-to-right my-btn" id="tickets-btn"> Free</button>
              <button type="submit" ng-click="add('Paid')" class="hvr-bounce-to-right my-btn" id="tickets-btn"> Paid</button>
              <button type="submit" ng-click="add('Donation')" class="hvr-bounce-to-right my-btn" id="tickets-btn"> Donation</button>
              
               <ul class="list-unstyled list-group" float="left">
                 <li ng-repeat="ticket in currentTickets track by $index" >
                   <br />
                   <div class="row">
                   <div class="col-md-3">Ticket name: </div>
                   <div class="col-md-3">Price:
                   </div>
                   <div class="col-md-3">Quantity:</div>
                   <div class="col-md-3"></div>
                   </div>
                    <div class="row">
                    <div class="col-md-3"><input ng-model="ticket.ticketName" type="text" placeHolder="Ticket name" class="form-control input-md"></div>
                    <div class="col-md-3"><input  ng-hide="ticket.free" ng-model="ticket.ticketPrice" type="number"  min="0" placeHolder="Price" class="form-control input-md">
                    <input  ng-show="ticket.free" type="text" placeHolder="free" class="form-control input-md" disabled></div>
                    <div class="col-md-3"><input ng-model="ticket.ticketQ" type="number" placeHolder="How many?" min="0" class="form-control input-md" ng-change="updateQ()"></div>
                    <div class="col-md-3"><button class="btn btn-danger" ng-click="deleteTempTick($index)"><i class="fa fa-trash-o " aria-hidden="true"></i></button></div>
                    </div>
                   <br />
                 </li>
                 <div class="row">
                 <div class="col-md-12">Total Ticket amount: {{totalTickets}}</div>
               </div>
               </ul>
             </div>
           </div>
           <div class="form-group">
             <div>
               <input type="checkbox" name="source_name" ng-model="showRemain"> Publicly show remaining tickets
             </div>
           </div>
            <br /><!--input --> 
            <button type="submit" ng-click="reset()" class="hvr-bounce-to-right my-btn" style="margin: 10px; font-size:20px;padding: 6px 0px; width:22%;background-color:transparent;color:black"> Reset</button>
               <button type="submit" ng-click="upload()" class="hvr-bounce-to-right my-btn" style="margin: 10px; font-size:20px;padding: 6px 0px; width:33%;background-color:black;color:white"> Create event</button>
               
          <div class="row show-hide-message" ng-show="showRedirect">
            <div class="alert alert-success">Event added! redirecting..<span class="glyphicon glyphicon-repeat fast-right-spinner"></span></div>
          </div>
        </div>
          <!-- <div class="row show-hide-message" ng-show="showFailure">
            <div class="alert alert-success">{{}}<span class="glyphicon glyphicon-repeat fast-right-spinner"></span></div>
          </div> -->
              </div>
        </div>
      </div>
          
        </div>
      </div>
    </div>
  </form>
</section>
