<div class="event-poster-head">
	<img src="../img/wide-posters/Secret Sesh.png" alt="">
</div>

<div class="ticket-bar" cmelo-sticky-top>
	<p>Tickets</p>
	<p>$20 - $20,000</p>
</div>

<div id="event-page-container">


	<div class="event-info-bar">
		<div class="event-name">805 Oiler Festival</div>
		<div class="event-info-icons">
			<a href="">
				<i class="fa fa-chevron-down" aria-hidden="true"></i>
			</a>
			<a href="">
				<i class="fa fa-bookmark" aria-hidden="true"></i>
			</a>
		</div>
	</div>

	<section class="event-info">
		<div class="date-location-container">
			<div class="date-and-time">
				<p class="date">
					<a ui-sref="">
						<i style="color: lightcoral" class="fa fa-calendar-o"></i>
						Fri, Jan 26, 2018
					</a>
				</p>
				<p class="time">7:00PM - 12:00AM</p>
			</div>
	
			<div class="location">
				<p>
					<a ui-sref="">
							<i style="color: lightcoral" class="fa fa-map-marker"></i>
							Pasadena CA
						</a>
				</p>
			</div>
		</div>

		<div class="refund-policy-container">
			<p>Refund Policy: No Refunds</p>
		</div>
	</section>

	<div class="description-and-organizer">
		<section class="description">
			<h6>Event Description</h6>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, delectus numquam asperiores earum sapiente deserunt!
			</p>
			<br>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quisquam accusamus officia! Quo aut delectus excepturi numquam officiis asperiores consequuntur, repudiandae, eum veniam, corrupti exercitationem aliquid eligendi at quas reiciendis! Sunt, sapiente nulla magnam animi excepturi illum enim aut a vero quis inventore beatae laudantium? Quasi quo libero repellendus qui.</p>
			<br>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis inventore adipisci natus, distinctio sapiente necessitatibus eligendi obcaecati vitae ratione corrupti nesciunt? Enim ipsum, commodi ea placeat, molestiae accusamus nihil culpa cupiditate obcaecati ipsa harum quas quidem ut et a nemo asperiores voluptate neque aspernatur quisquam nostrum deserunt vero? Eos, blanditiis.</p>

		</section>
	
		<section class="organizer-info">
			<div class="organizer-name">Organizer: Secret Sesh</div>
			<div class="organizer-contact"><a href="">Contact Organizer</a></div>
			<div class="organizer-profile"><a href="">Organizer Profile</a></div>
			<div class="organizer-url"><a href="">www.secretsesh.com</a></div>
		</section>

		<ul class="organizer-social-links">
				<li ng-repeat="socialLink in socialLinks">
					<a href="{{ socialLink.url }}">
						<i class="{{ socialLink.faClass }}"></i>
					</a>
				</li>
		</ul>	
	</div>


	<section class="sponsor">
		<div class="red-band">Sponsor</div>
		<div class="sponsor-img-container">
			<img src="../img/dummy-ads/vader.jpg" alt="">
		</div>
	</section>

	<section class="event-map">
		<div class="map-container">
			<h5>Event Map</h5>
			<img id="static-map-img" src="https://maps.googleapis.com/maps/api/staticmap?center=Berkeley,CA&zoom=14&size=400x400&key=AIzaSyDaLn2AKXRJk06q8AUzN11XWQuuKlprlvM" alt="">
		</div>
		<div class="direction-notes" style="color: black">
			<h5>Direction Notes</h5>
			<p>Take a Right at the fork Or else you end up in Tijuana</p>
		</div>
	</section>

	<section class="upcoming-events">
		<h3>Check Out Other Upcoming Events From This Organizer!</h3>
		<ul>
			<li ng-repeat="event in dummyEvents | limitTo: 3" 
					class="upcoming-event-container"
			>
				<div>
					<img ng-src="{{ event.imgURL }}" alt="">
					<div class="price-range"> $20 - $2000</div>
				</div>
				<div class="info-container">
					<h4>{{ event.name }}</h4>
					<div class="date-time">
						<p> 
							<a ui-sref="">
								<i style="color: lightcoral" class="fa fa-calendar-o"></i>
								{{ event.date }}
							</a>
						</p>
						<p>{{ event.startTime }} - {{ event.endTime }}</p>
					</div>
					<div class="location">
						<p>
							<a ui-sref="">
								<i style="color: lightgreen" class="fa fa-map-marker"></i>
								{{ event.location }}
							</a>
						</p>
					</div>
				</div>
			</li>
		</ul>
	</section>


</div>

<!-- <div class="dummy-div" cmelo-sticky-top></div> -->




<!-- arik's shopping cart -->
<!-- <div class="container">
		<h1>available tickets: </h1>
		<ul ng-repeat="ticket in event.eventTickets track by $index">
			<li>{{ticket.ticketName}} - {{ticket.ticketQ}} tickets left at {{ticket.ticketPrice}}$ each </li>
			<input placeHolder="how many?" ng-model="ticketsToAdd"></input>
			<button class="btn btn-success" ng-click="addToCart(ticket, ticketsToAdd)">Add To Cart</button>
		</ul>
	</div>
	<div class="container">
		<h1>Your shopping cart: </h1>
		<ul ng-repeat="obj in ticketCart track by $index">
			<li>
				<i class="fa fa-plus btn" aria-hidden="true" ng-click="cartPlus($index)"></i>
				<i class="fa fa-minus btn" aria-hidden="true" ng-click="cartMinus($index)"></i>
				{{obj.quantity}} X {{obj.ticket.ticketName}}
				<i class="fa fa-trash-o btn btn-danger" aria-hidden="true" ng-click="removeFromCart($index)"></i>
			</li>
			<li>{{obj.ticket.ticketPrice*obj.quantity}}</li>
		</ul>
		<div ng-show="ticketCart[0].ticket">
			<button class="btn btn-primary" ng-click="checkout()">Checkout</button>
			</li>
			Total: {{ticketSum}}
		</div>
	</div> -->

	<!-- <div id="map"></div>
	<script>
		function initMap() {
			var uluru = { lat: -25.363, lng: 131.044 };
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 4,
				center: uluru
			});
			var marker = new google.maps.Marker({
				position: uluru,
				map: map
			});
		}
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR9ihwGh3phyj4LBWR6x4UtsqqgK9Je9k&callback=initMap">
	</script> -->