<div id="event-page-container">
	<div class="event-poster-head">
		<img src="../img/wide-posters/Secret Sesh.png" alt="">
	</div>

	<div class="ticket-bar" cmelo-sticky-top>
		<p>Tickets</p>
		<p>$20 - $20,000</p>
	</div>

	<div class="event-info-bar">
		<div class="event-name">{{event.title}}</div>
		<div class="event-info-icons">
			<a href="">
				<i class="fa fa-chevron-down" aria-hidden="true"></i>
			</a>
			<a href="">
				<i class="fa fa-bookmark" aria-hidden="true"></i>
			</a>
		</div>
	</div>

	<section class="event-info">
		<div class="date-location-container">
			<div class="date-and-time">
				<h6>Date / Time</h6>
				<p class="date">Starts: {{event.startDateDisplay}}</p>
				<p class="time">{{event.startHr}}</p>
				<p class="date">Ends: {{event.endDateDisplay}}</p>
				<p class="time">{{event.endHr}}</p>
			</div>
	
			<div class="location">
				<h6>Location</h6>				
				<p class="city">{{event.location.locationName}}</p>
			</div>
		</div>

		<div class="refund-policy-container">
			<p>Refund Policy: No Refunds</p>
		</div>
	</section>

	<section class="description">
		<h6>Event Description</h6>
		<p>
			{{event.description}}
		</p>
	</section>

	<section class="organizer-info">
		<div class="organizer-name">Organizer: {{event.organizer.name}}</div>
		<div class="organizer-contact"><a href="">Contact Organizer {{event.organizer.about}}</a></div>
		<div class="organizer-profile"><a href="">Organizer Profile</a></div>
		<div class="organizer-url"><a href="">{{event.organizer.website}}</a></div>
	</section>

	<ul class="organizer-social-links">
			<li ng-repeat="socialLink in socialLinks">
				<a href="{{ socialLink.url }}">
					<i class="{{ socialLink.faClass }}"></i>
				</a>
			</li>
	</ul>	

	<section class="sponsor">
		<div class="red-band">Sponsor</div>
		<div class="sponsor-img-container">
			<img src="../img/dummy-ads/vader.jpg" alt="">
		</div>
	</section>

	<section class="event-map">
		<h5>Event Map</h5>	
		<a href={{event.location.locationMapUrl}} target="_blank">
		<img id="static-map-img" src={{imgSrc}} alt="">
		</a>
		<!--<iframe src={{event.location.locationMapUrl}}></iframe>-->	
		 <!--<div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlqLa-v1ZicvzAhvzPyX4p0mbXIzYjGEk&libraries=places&language=en" > 
	<ng-map center={{event.location.latlng}} zoom="3"></ng-map>
	</div>				-->
	</section>
</div>

<!-- arik's shopping cart -->
<!-- <div class="container">
		<h1>available tickets: </h1>
		<ul ng-repeat="ticket in event.eventTickets track by $index">
			<li>{{ticket.ticketName}} - {{ticket.ticketQ}} tickets left at {{ticket.ticketPrice}}$ each </li>
			<input placeHolder="how many?" ng-model="ticketsToAdd"></input>
			<button class="btn btn-success" ng-click="addToCart(ticket, ticketsToAdd)">Add To Cart</button>
		</ul>
	</div>
	<div class="container">
		<h1>Your shopping cart: </h1>
		<ul ng-repeat="obj in ticketCart track by $index">
			<li>
				<i class="fa fa-plus btn" aria-hidden="true" ng-click="cartPlus($index)"></i>
				<i class="fa fa-minus btn" aria-hidden="true" ng-click="cartMinus($index)"></i>
				{{obj.quantity}} X {{obj.ticket.ticketName}}
				<i class="fa fa-trash-o btn btn-danger" aria-hidden="true" ng-click="removeFromCart($index)"></i>
			</li>
			<li>{{obj.ticket.ticketPrice*obj.quantity}}</li>
		</ul>
		<div ng-show="ticketCart[0].ticket">
			<button class="btn btn-primary" ng-click="checkout()">Checkout</button>
			</li>
			Total: {{ticketSum}}
		</div>
	</div> -->
	
	