<div style="margin: 400px">
  <h1>Hello There, reset your password below</h1>
  <h2>so you can dank it up!!!</h2>
  <h3>_id = {{params.userId}}</h3>
  <div class="form-group">
    <!-- <label for="pw-reset-input">Email:</label>
    <input type="text" class="form-control" placeholder="Enter Email" ng-model="resetCtrl.resetInfo.email"> -->
    <label for="pw-reset-input">New Password:</label>
    <input type="text" class="form-control" placeholder="Enter Password" ng-model="resetCtrl.resetInfo.password">
    <label for="pw-reset-input">Confirm Password:</label>
    <input type="text" class="form-control" placeholder="Confirm Password" ng-model="resetCtrl.resetInfo.pwConfirm">
  </div>
  <button type="button" class="btn btn-default" ng-click=resetCtrl.resetPassword()>Reset Password</button>
  <br><br>
  <div class="row show-hide-message" ng-show="!resetCtrl.doPasswordsMatch">
    <div class="alert alert-danger">Passwords do not match</div>
  </div>
  <div class="row show-hide-message" ng-show="resetCtrl.updateFailed">
    <div class="alert alert-danger">Problem updating password, please try again</div>
  </div>
    <div class="row show-hide-message" ng-show="resetCtrl.passwordUpdated">
      <div class="alert alert-success">Password Updated Succesfully! Redirecting you home.. <span class="glyphicon glyphicon-repeat fast-right-spinner"></span></div>
     </div>
</div>