	<div id="mobile-home-container" ng-init="showSlider=true">
		<ul class="mobile-home-panel top-panel">
			<li ui-sref="home" ng-click="showSlider=true" ng-class="{activeTab: isActive('/home')}">Featured</li>
			<li ui-sref="home.local" ng-click="showSlider=false" ng-class="{activeTab: isActive('/home/local')}">Local</li>
			<li ui-sref="home.upcoming" ng-click="showSlider=false" ng-class="{activeTab: isActive('/home/upcoming')}">Upcoming</li>
			<li ui-sref="home.favorites" ng-click="showSlider=false" ng-class="{activeTab: isActive('/home/favorites')}">Favorites</li>
		</ul>
		
		<slider-directive></slider-directive>

		<!-- nested mobile home views -->
		<div ui-view></div>

	</div>
	
<!-- Desktop -->

<div id="desktop-grid-container">
	
	<aside class="aside-events">
		<div class="filter-btn-container">
			<div class="upcoming-btn" 
					 ng-click="goUpcoming()"
					 ng-class="upcomingFlag ? 'filter-btn-active' : '' "
			>
					 Upcoming
			</div>
			<div class="local-btn" 
					 ng-click="goLocal()"
					 ng-class="localFlag ? 'filter-btn-active' : '' "
			>
				Local
			</div>			
		</div>
		<ul class="side-events-list">
			<li	ng-show="upcomingFlag"	ng-repeat="event in events |orderBy: 'startTime' |limitTo: 20">
				<a ui-sref="event({id: event['_id']})">
					<p>
						<span>							
								<i style="color: lightcoral" class="fa fa-calendar-o"></i>
								{{ event.startDateDisplay }}							
						</span>
					</p>
					<p>
						<span>							
							<span class="length-limiter"><i style="color: lightgreen" class="fa fa-map-marker"></i>{{event.location.venue_name}}</span>				
						</span>
					</p>
					<p>
							<span>								
									{{ event.title | uppercase}}								
							</span>
						</p>	
				</a>						
			</li>
			
			<li class="local-events"
					ng-show="localFlag"  
					ng-repeat="event in events |orderBy: 'distance' |limitTo: 20">
				<a ui-sref="event({id: event['_id']})">
					<p>
						<span>							
								<i style="color: lightcoral" class="fa fa-calendar-o"></i>
								{{ event.startDateDisplay }} - {{ event.title | uppercase}}							
						</span>
					</p>
					<p>
						<span>							
							<span class="length-limiter"><i style="color: lightgreen" class="fa fa-map-marker"></i>{{event.location.venue_name}}</span>						
						</span>
					</p>
					<p>
						<span> 
						{{event.distance}} miles away
						</span>
					</p>
				</a>
			</li>
		</ul>
	</aside>	

	<div class="ui-ad-container">
		<ui-carousel 
			slides="dummyAds"
			slides-to-show="1"
			slides-to-scroll="1"
			initial-slide="1"
			autoplay="true"
			autoplay-speed="4000"
			dots="false"
			arrows="false"
		>
			
			<carousel-item>
				<div class="ad-item-container">
					<div class="ad-img-container" style="height: 70px">
						<img ng-src="{{ item.imgURL }}" alt="" style="height: 100%; display: block; margin: 0 auto">
					</div>
				</div>
			</carousel-item>
		</ui-carousel>
	</div>

	
	<main class="main-content">

		<!-- <slick class="slick-ad-banner"
					autoplay="true" 
					fade="true" 
					slides-to-show="1" 
					slides-to-scroll="1" 
					arrows="false" 
					center-mode="false" 
					dots="false"
		>
			<div class="ad-container" ng-repeat="ad in dummyAds">
				<img ng-src="{{ ad.imgURL }}" alt="{{ ad.name }}">
			</div>
		</slick> -->

		
		<div class="main-event event-poster animated fadeInRight">
				<div class="wtf" style="display: flex; justify-content: center">
					<div class="feature-event-img">
						<img ng-src="{{ featuredDummyEvent.imgURL }}" style="max-height: 100%">
					</div>
				</div>
				<div class="info">
					<div class="left">
						<div class="date">
							<a ui-sref="">
								<span>
									<i style="color: lightcoral" class="fa fa-calendar-o"></i>
									{{ featuredDummyEvent.date }}
								</span>
							</a>
						</div>
						<div class="name">{{ featuredDummyEvent.name }}</div>
					</div>
					<div class="right">
							<a ui-sref="">
								<span>
									<i style="color: lightgreen" class="fa fa-map-marker"></i>
									{{ featuredDummyEvent.location }}
								</span>
							</a>
					</div>
			</div>
		</div>
	</main>

	<!-- grid style - to keep or not to keep? that is the question-->
	<section class="other-events">
		<ul class="event-grid-container">
			<li ng-repeat="event in dummyEvents | limitTo: 4" class="featured-event event-poster">
				<div class="img-container">
					<img ng-src="{{ event.image }}" class="">
				</div>
				<div class="info">
					<div class="date">
							<a ui-sref="">
								<span>
									<i style="color: lightcoral" class="fa fa-calendar-o"></i>
									{{ event.startDateDisplay }}, {{ event.startTime }}
								</span>
							</a>
					</div>
					<div class="location">
						<a ui-sref="">
								<span>
									<i style="color: lightgreen" class="fa fa-map-marker"></i>
									{{ event.location.locationName }}
								</span>
						</a>
					</div>
					<div class="name">{{ event.title }}</div>
			</div>
			</li>
		</ul>
	</section>

	<aside class="side-content">

		<div class="social-container">
			<h4>Connect with us!</h4>
			<ul class="socialLink-grid-container">
				<li ng-repeat="socialLink in socialLinks">
					<a href="{{ socialLink.url }}">
						<i class="{{ socialLink.faClass }}"></i>
					</a>
				</li>
			</ul>
		</div>


		<div class="blogs-container">
			<h4>Check out our recent blogs</h3>
			<ul>
				<li ng-repeat="blog in dummyBlogs">
					<div class="blog-info-container">
						<p>{{ blog.name }}</p>
						<p>{{ blog.date }}</p>
					</div>
					<div class="blog-img-container">
						<img ng-src="{{ blog.imgURL }}" alt="">
					</div>
				</li>
			</ul>
			<div class="see-all-blogs">
				<a style="color: blue" 
					 ui-sref="">
					Check out the rest of the blogs
				</a>
			</div>
		</div>
	</aside>

</div>

