  <!-- #contact -->
  <section id="contact" class="gradient-overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h1>Sign Up</h1>
            <p>Already have an account? Sign In here. <br> been the industry's standard dummy text ever since the 1500</p>
          </div>
        </div>
      </div>
      <div class="row align-self-center">
        <div class="col-lg-12 form-section">
          <form class="contact-form" action="include/sendemail.php">
            <ul class="clearfix">
              <li class="half"><input type="text" name="firstname" placeholder="First Name"></li>
              <li class="half"><input type="text" name="lastname" placeholder="Last Name"></li>
              <li class="full"><input type="text" name="email" placeholder="Your Email"></li>
              <li class="full"><input type="text" name="password" placeholder="Password"></li>
              <li class="full"><button type="submit" class="hvr-bounce-to-right">Submit</button></li>
            </ul>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- /#contact -->