<!-- validating that user is signed in -->
<h1 class="not-signed-in" ng-if="!isUserSignedIn" style="text-align: center; margin: 5rem auto 500px">Please Sign In To See This Page!</h1>

<div class="organizer-manager-container container" ng-if="isUserSignedIn">

  <div class="od-top-level">
    <h1>Manage Organizers</h1>
    <div class="select-organizer">
      <div class="form-group">
        <label for="sel1">Select Your Organizer</label>
        <select ng-model="selectedOrganizer" 
                ng-options="profile as profile.name disable when profile.disabled for profile in profiles" 
                ng-change="selectedItemChanged(selectedOrganizer)"
                class="form-control input-md">
        </select>
      </div>
    </div>
  </div>

  <nav class="od-nav">
    <ul>
      <li ng-repeat="tab in organizerTabs track by $index" ng-class="{ activeSetting: isSet($index) }">
        <a href="" ng-click="setTab($index)">{{ tab }}</a>
      </li>
    </ul>
  </nav>

  <section ng-show="isSet(0)">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="od-toggle-container">
          <h3>Organizer Profile</h3>
          <div class="view-toggle">
            <button ng-click="saveQuill()" class="btn btn-success" >Save</button>
            <button class="btn btn-default">View</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="od-content">
        <div class="col-sm-5 col-sm-offset-1">
          <div class="form-group">
            <label for="first">Name</label>
            <input type="text" class="form-control" ng-model="selectedOrganizer.name" placeholder="Pick an Organizer Name">
          </div>
          <div class="od-editor">
            About: {{selectedOrganizer.about}}
            <ng-quill-editor ng-model="title" 
                             on-editor-created="editorCreated(editor)" 
                             on-content-changed="contentChanged(editor, html, text, delta, oldDelta)"
                             id="organiza-quill">

            </ng-quill-editor>
          </div>
          <div class="url-display">
            <h5>Profile URL is:</h5>
            <p>www.danktickets/picklerick.com</p>
          </div>
          <div class="form-group">
            <label for="first">Website</label>
            {{selectedOrganizer.website}}
            <input type="text" class="form-control" placeholder="Enter your organizer website">
          </div>
          <div class="social-form-container">
            <div class="form-group" ng-repeat="socialForm in socialForms track by $index">
              <label ng-if="$index === 0" for="first">Social</label>
              <input ng-model="socialForm.model" class="form-control" type="text" class="form-control" placeholder="{{ socialForm.name }}">
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-sm-offset-1 od-upload-container">
          <form>
            <h3 style>Organizer Image</h3>
			<a href="#" id="upload_widget_opener" ng-click="initUploader()">Select organizer image</a>
            <div class="od-image-container">     
			<img ng-src={{previewImg}} />
              <div class="od-image-placeholder" ng-if="!previewImg">
                <i class="fa fa-2x fa-user" aria-hidden="true"></i>
              </div>
            </div>                               
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- charts! -->
  <section ng-show="isSet(1)" style="margin-top: 1rem">
    <div class="row" style="margin-bottom: 3rem">
      <div class="bar-filter-container col-sm-2 col-sm-offset-1">
        <div class="bar-filter-container chart-card">
          <h4>Filters:</h4>
          <div class="bar-btn-box">
            <button class="btn btn-info">Current Events</button>
            <button class="btn btn-info">Past Events</button>
          </div>
        </div>
      </div>
      <div class="chart-and-title-container col-sm-8">
        <div class="sales-by-event-container chart-card">
          <h3>Sales By Event</h3>
          <div class="bar-chart-container">
            <canvas class="chart chart-bar" 
                    chart-data="barData" 
                    chart-labels="barLabels" 
                    chart-click="barClick"
            >
            </canvas> 
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1" style="margin-right: 0">
          <div class="sales-by-event-container chart-card">
              <h3>Sales By Event</h3>
              <div class="bar-chart-container">
                <canvas class="chart chart-doughnut" 
                        chart-data="barData" 
                        chart-labels="barLabels" 
                        chart-click="barClick"
                >
                </canvas> 
              </div>
            </div>
      </div>
      <div class="col-sm-5">
          <div class="sales-by-event-container chart-card">
              <h3>Sales By Event</h3>
              <div class="bar-chart-container">
                <canvas class="chart chart-bar" 
                        chart-data="barData" 
                        chart-labels="barLabels" 
                        chart-click="barClick"
                >
                </canvas> 
              </div>
            </div>
      </div>
    </div>
  </section>

  <section ng-show="isSet(2)">
    <h3>{{ organizerTabs[2] }}</h3>
  </section>

  <section ng-show="isSet(3)">
    <h3>{{ organizerTabs[3] }}</h3>
  </section>

  <section ng-show="isSet(4)">
    <h3>{{ organizerTabs[4] }}</h3>
  </section>

  <section ng-show="isSet(5)">
    <h3>{{ organizerTabs[5] }}</h3>
  </section>

</div>