<!-- #upcoming-event -->
  <section id="upcoming-event">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7">
          <div class="section-title">
            <h1>Manage Your Events</h1>
            <div ng-if="!events.length" style="text-align: center">
              <h3>You have no events yet, add some!</h3>
              <a ui-sref="create" style="display: block; cursor: pointer; font-size: 2em">create event</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">          
          <div class="tab-content-wrap row">
            <div class="col-lg-3 col-md-4 col-sm-6 mix april-14 april-22 hvr-float-shadow wow fadeIn" ng-repeat="event in events track by $index">
              <a ui-sref="event">
              <div class="img-holder" id="card-img-holder" style="background-image: url({{event.image}});"><img src="../img/banner-carousel/weed.jpeg" alt={{event.title}}></div>
              <div class="content-wrap">
                <img src="img/upcoming-event/author.png" alt="" class="author-img">
                </a>
                <div class="meta">
                  <ul>
                    <li><span><i class="fa fa-clock-o"></i>{{event.startDateDisplay}} at {{event.startHr}} - {{event.endDateDisplay}} at {{event.endHr}}</span>

                    </li>
                    <li><a href={{event.location.locationMapUrl}} target="_blank"><span class="length-limiter"><i class="fa fa-map-marker"></i>{{event.location.venue_name}}</span></a>
                    </li>
                  </ul>
                </div>
                <h4 ng-show="event.organizer.name">{{event.organizer.name}} Presents:</h4>
                <h3 class="length-limiter">{{event.title}}</h3>
                <p class="length-limiter">{{event.description}}</p>
                <div >
                  <p style="background-color: grey;width:50%;color:white;text-align:center;">{{event.type}}</p>
                  <p>Ticket Prices</p>
                </div>
                <div class="row">
                  <ul>
                    <li>
                      <div class="input-wrap">
                        <!-- <button type="submit" class="hvr-bounce-to-right my-btn" style="max-width: 40%; margin: 10px; height: 5%; font-size:18px;">REGISTER</button> -->
                        <a ui-sref="edit({ eventParam: event, id: event._id })"><button type="submit" class="hvr-bounce-to-right my-btn" style="max-width: 100%; margin: 10px; max-height: 5%;font-size:18px;"> <i class="fa fa-pencil-square-o"></i> Edit</button></a>
                      </div>
                    </li>
                  </ul>
                </div>            
              </div>
            </div>
          </div> <!-- tab-content-wrap -->
        </div>
      </div>
    </div>
  </section>
  <!-- /#upcoming-event -->