<h2 class="settings-header page-centering">Profile Settings</h2>
<hr>
<div class="profile-settings-container page-centering">

  <nav class="settings-nav">
    <ul>
      <li ng-repeat="tab in profileTabs track by $index" ng-class="{ activeSetting: isSet($index) }">
        <a href ng-click="setTab($index)">{{tab}}</a>
      </li>
    </ul>
  </nav>

  <section ng-show="isSet(0)" class="info-section">
    <div>
      <!-- <h3 class="section-header">Account Info</h3> -->
      <div class="profile-photo-container">
        <div class="dotted-container">
          <h4>Profile Photo</h4>
          <p>Add a profile image</p>
        </div>
      </div>
    </div>
    <div class="container settings-info-container">
      <form>
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
              <label for="first">First Name</label>
              <input type="text" class="form-control" placeholder="" id="first">
            </div>
          </div>
          <!--  col-md-6   -->

          <div class="col-md-5">
            <div class="form-group">
              <label for="last">Last Name</label>
              <input type="text" class="form-control" placeholder="" id="last">
            </div>
          </div>
          <!--  col-md-6   -->
        </div>


        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
              <label for="company">Company</label>
              <input type="text" class="form-control" placeholder="" id="company">
            </div>


          </div>
          <!--  col-md-6   -->

          <div class="col-md-5">

            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="tel" class="form-control" id="phone" placeholder="phone">
            </div>
          </div>
          <!--  col-md-6   -->
        </div>
        <!--  row   -->


        <div class="row">
          <div class="col-md-5 col-md-offset-1">

            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="email">
            </div>
          </div>
          <!--  col-md-6   -->

          <div class="col-md-5">
            <div class="form-group">
              <label for="url">Your Website URL
              </label>
              <input type="url" class="form-control" id="url" placeholder="http://">
            </div>

          </div>
          <!--  col-md-6   -->
        </div>
        <!--  row   -->

        <button class="btn btn-primary info-save-btn">Save</button>
      </form>
    </div>
  </section>

  <!-- Other Sections -->
  <section ng-show="isSet(1)">
    <h3 class="section-header">Password Reset</h3>
  </section>

  <section ng-show="isSet(2)">
    <h3 class="section-header">Email Preferences</h3>
  </section>

  <section ng-show="isSet(3)">
    <h3 class="section-header">Close Account</h3>
  </section>

</div>