<div class="container">
	<div class="row">
		<div class="col col-md-6">
			<div class="pic-container">
				<h1>{{organizer.name}}</h1>
				<div class="profile-pic-container"> 
					<img src="" alt="Profile picture"/>
				</div>
			</div>
			<div class="description-container">
				<h3>Organizer description: </h3>
				<p>{{organizer.about}}</p>
			</div>
		</div>
		<div class="col col-md-6">
			<div class="website-container">
				<h3>Website</h3>
				<a href="{{profile.website}}">I wonder if its a site</a>
			</div>
			<div class="profile-media-container">
			<h3>Social</h3>
				<ul class="profile-social">
					<li ng-repeat="socialLink in socialLinks">
						<a href="{{ socialLink.url? socialLink.url : '#' }}">
						<i class="{{ socialLink.faClass }}"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-md-8 col-md-offset-2">
			<div class="profile-filter-container">
				<button class="btn btn-primary" >Current events</button>
				<button class="btn btn-danger" >Past events</button>
			</div>
		</div>
	</div>
</div>