<div class="container">
	<div class="row">
		<div class="col col-md-6">
			<div class="pic-container">
				<h1>Pickle rick</h1>
				<div> Insert pickle picture here</div>
			</div>
			<div class="description-container">
				<h3>Organizer description: </h3>
				<p>About pickles</p>
			</div>
		</div>
		<div class="col col-md-6">
			<div class="website-container">
				<h3>Website</h3>
				<a href="www.picklerick.com">I wonder if its a site</a>
			</div>
			<div class="profile-media-container">
			<h3>Social</h3>
			<ul >
				<li><a href="">dummyzQ</a></li>
			</ul>
			</div>
		</div>
	</div>
</div>