<div class="checkout-page-container container">
  <div class="row">
    <div class="col-md-8" >
      <div class="panel panel-info my-cart">
        <div class="panel-heading">
          <h3 class="panel-title">Ticket Cart</h3>
          <div class="cart-icons">
            <i class="fa fa-lg fa-shopping-cart" aria-hidden="true"></i>
            <i class="fa fa-lg fa-ticket" aria-hidden="true"></i>
          </div>
        </div>
        <div class="panel-body" style="overflow-x: scroll">
          <table class="table checkout-tbl">
            <button class="btn btn-danger" ng-click="clear()"><i class="fa fa-lg fa-trash" aria-hidden="true"></i> clear cart</button>
            <tr>
              <th>Event</th>
              <th >Ticket Type</th>
              <th>Price/Ticket</th>
              <th>Fee</th>
              <th>Quantity</th>
              <th>Subtotal</th>
              <th>
                <b>Remove</b>
              </th>
            </tr>
            <tr ng-repeat="item in dankCart track by $index">
              <td><a ui-sref="event({id: item.eventId})">{{item.title}}</td>
              <td >{{item.ticketName}}</td>
              <td>{{item.ticketPrice | currency}}</td>
              <td>2$</td>
              <td>{{item.howMany}}</td>
              <td>{{item.howMany*item.ticketPrice | currency}}</td>
              <td>
                <button style="border: none; background: none" ng-click="remove($index)">
                  <i class="fa fa-lg fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </table>
          <hr>
          <div><strong>Total:</strong> {{ dankCartTotal | currency }}</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-info buyer-info">
        <div class="panel-heading">
          <h3 class="panel-title">Buyer Info</h3>
        </div>
        <div class="panel-body">
          <p>Have an account?
            <a href="">Sign In</a>
          </p>
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2" for="firstname">First:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter First Name">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="lastname">Last:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter Last Name">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Email:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" placeholder="Enter email">
              </div>
            </div>
            <div class="form-group checkout-final">
              <p style="padding-left: 2rem">We process all payments through trusted third party vendors.</p>
              <p style="padding-left: 2rem">All major credit cards and Bitcoin accepted <i class="fa fa-lg fa-smile-o" aria-hidden="true">.</i></p>
              <div>
                <i class="fa fa-lg fa-credit-card-alt" aria-hidden="true"></i>
                <i class="fa fa-lg fa-cc-paypal" aria-hidden="true"></i>
                <i class="fa fa-lg fa-cc-stripe" aria-hidden="true"></i>
                <i class="fa fa-lg fa-btc" aria-hidden="true"></i>
              </div>
              <div class="checkout-btn-container">
                <button ng-click="buyTickets()" type="submit" class="btn btn-success checkout-btn">Proceed to Checkout</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>