<ul class="upcoming-events">
  <li ng-repeat="event in myevents | limitTo: mylimit" class="upcoming-event-container">
    <div class="event-img-container">
      <img ng-src="{{ event.imgURL }}" alt="event image">
    </div>
    <div class="ticket-type">Premium</div>
    <div class="info-container">
      <div class="date-time">
          <a ui-sref="">
            <i style="color: lightcoral" class="fa fa-calendar-o"></i>
            {{ event.date }}, {{ event.startTime }} - {{ event.endTime }}
          </a>
      </div>
      <div class="location">
          <a ui-sref="">
            <i style="color: lightgreen" class="fa fa-map-marker"></i>
            {{ event.location }}
          </a>
      </div>
      <p ng-if="event.organizer.name" class="presented-by">
        <span style="font-style: italic">{{ event.organizer.name }}</span> presents
      </p>
      <h3>{{ event.name }}</h3>
    </div>
    <div class="event-footer-container">
      <ul class="tags">
        <li>#Weed</li>
      </ul>
      <div class="share" title="share me">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
      </div>
      <div class="bookmark">
        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </div>
    </div>
  </li>
</ul>