<ul class="upcoming-events">
  <li ng-repeat="event in myevents | limitTo: mylimit | orderBy: myfilter" class="upcoming-event-container">
    <div class="event-img-container " id="card-img-holder">
      <img ng-if="event.image" ng-src="{{ event.image }}" alt="{{ event.title }}">
      <img ng-if="!event.image" src="../img/Placeholder.png " alt="{{ event.title }}">
    </div>
    <div class="ticket-type">{{ event.minTicketPrice | currency : '$' : 0 }}</div>
    <div class="info-container">
      <div class="date-time">
        <a ui-sref="">
          {{ getDate(event.startTime) }}
        </a>
      </div>
      <h3><strong>{{ event.title }}</strong></h3>
      <div class="location">
        <p>
          <span class="length-limiter">{{event.location.venue_name}}, {{event.location.city}}</span>
        </p>
      </div>

    </div>
    <div class="event-footer-container">
      <ul class="tags">
        <li>#Weed</li>
      </ul>
      <div class="share" title="share me">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
      </div>
      <div class="bookmark">
        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </div>
    </div>
  </li>
</ul>