<footer ng-controller="footerCtrl">
	<img id="footer-logo" src="img/resources/logo.png" alt="Footer Logo" />

	<ul class="footer-links">
		<li ng-repeat="footerLink in footerLinks">
			<a ui-sref="{{ footerLink.uiSref }}">
				{{ footerLink.name }}
			</a>
		</li>
	</ul>	

	<ul class="social-links">
		<li ng-repeat="socialLink in socialLinks">
			<a href="{{ socialLink.url }}">
				<i class="{{ socialLink.faClass }}"></i>
			</a>
		</li>
	</ul>

	<div class="copyright">
		<a ui-sref="home">&copy; 2017 DANK TICKETS</a>
	</div>

</footer>