<div class="hamburger-container" style="position: relative">
  <button
    class="nav-toggler"
    ng-click="toggleDropDown()"
  >
    <i class="fa fa-bars"></i>
  </button>
  
  <ul class="mobile-dropdown-menu" ng-show="isOpen">
  <!--<li role="menuitem"><img src={{userDetails.picture}}></li> -->
    <li ng-click="toggleDropDown()" role=""><a ui-sref="browse">Browse events</a></li>
    <li ng-click="toggleDropDown()" ng-show="login.username"><a ui-sref="create">Create Event</a></li>
    <li class="divider"></li>
    <li ng-click="toggleDropDown()" ng-show="login.username"><a ui-sref="profile" >My Profile</a></li>
    <li ng-click="toggleDropDown()" ng-show="login.username"><a ui-sref="manage" >Manage Events</a></li>
    <li ng-click="toggleDropDown()" ng-show="login.username"><a ui-sref="organizer" >New Organizer</a></li>
    <li ng-click="toggleDropDown()" ng-show="login.username"><a ui-sref="userprofile" >Organizer Dashboard</a></li>
    <li class="divider" ng-show="login.username"></li>
    <li ng-click="toggleDropDown()" ng-show="login.username"><a ng-click="login.logout()">Log Out</a></li>
    <li ng-click="toggleDropDown()" ng-hide="login.username"><a ui-sref="signin">SIGN IN</a></li>
    <li ng-click="toggleDropDown()" ng-hide="login.username"><a ui-sref="signup">SIGN UP</a></li>
  </ul>
</div>
